<ion-view>
   <ion-content>
      <section class="video-wrapper">
         <video id="video" preload="auto" webkit-playsinline loop autoplay>
           <source src="{{result}}" type="video/mp4">
         </video>
      </section>
   </ion-content>
   <section class="challenge-wrapper">
      <div class="challenge-content">
         <div class="challenge">
            <h2 class="challenge-title">de opdracht:</h2>
            <p class="challenge-current">{{currentChallenge}}</p>
         </div>
      </div>
   </section>
   <section class="buttons-wrapper">
      <div class="buttons-content">
         <div class="button-item">
            <button id="record-video" class="button" ng-click="start()">
               <img class="icon" src="img/buttons/button_check.svg" alt="Do this challenge">
            </button>
            <p class="button-caption">do this challenge</p>
         </div>
         <div class="button-item">
            <button id="challenge-friend" class="button">
               <img class="icon" src="img/buttons/button_clock.svg" alt="Save challenge for later">
            </button>
            <p class="button-caption">save challenge for later</p>
         </div>
      </div>
   </section>
</ion-view>
