<ion-view>
  <ion-content class="padding">
    <!-- No video -->
    <section class="video-wrapper">
      <div class="video-content">
        <p>recorded video will be visible here</p>
      </div>
    </section>
    <!-- Challenge-->
    <section class="challenge-wrapper">
      <div class="challenge-content">
        <h2 class="challenge-title">de opdracht:</h2>
        <p class="challenge-current">Armpjedrukken met de sterkste man in de buurt.</p>
      </div>
    </section>
    <!-- Decision -->
    <section class="buttons-wrapper">
      <div class="buttons-content">
        <div class="button-item">
          <button id="record-video" class="button">
            <img class="icon" src="img/buttons/button_video.svg" alt="Record video">
          </button>
          <p class="button-caption">record video</p>
        </div>
        <div class="button-item">
          <button id="challenge-friend" class="button" ng-click="start(2)">
            <img class="icon" src="img/buttons/button_trophy.svg" alt="Challenge your friends">
          </button>
          <p class="button-caption">challenge your friends</p>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
