<ion-view>
  <ion-content>
    <section class="video-wrapper">
      <div class="video-content">
        <p>recorded video will be visible here</p>
      </div>
    </section>
  </ion-content>
  <section class="challenge-wrapper">
    <div class="challenge-content">
      <div class="challenge">
        <h2 class="challenge-title">de opdracht:</h2>
        <p class="challenge-current">{{currentChallenge}}</p>
      </div>
    </div>
  </section>
  <section class="buttons-wrapper">
    <div class="buttons-content">
      <div class="button-item">
        <button id="record-video" class="button" ng-click="startVideo()">
          <img class="icon" src="img/buttons/button_video.svg" alt="Record video">
        </button>
        <p class="button-caption">record video</p>
      </div>
      <div class="button-item disabled">
        <button id="challenge-friend" class="button">
          <img class="icon" src="img/buttons/button_trophy.svg" alt="Challenge your friends">
        </button>
        <p class="button-caption">challenge your friends</p>
      </div>
    </div>
  </section>
</ion-view>
